.price {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  column-gap: 8px;
}

.tariffWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--input-background);
  border-radius: 15px;
  padding: 15px;
  margin: 0 5px;
}

.header {
  width: 100%;
  border-radius: 15px;
  padding: 25px;
  margin-bottom: 25px;
}

.headerBaseTariff {
  background: #469996;
  background: radial-gradient(circle, rgba(70, 153, 150, 1) 0%, rgba(82, 186, 155, 1) 100%, rgba(86, 197, 156, 1) 92%, rgba(87, 199, 156, 1) 74%);
}

.headerProTariff {
  background: #ba13ac;
  background: radial-gradient(circle, rgba(186, 19, 172, 1) 0%, rgba(204, 128, 102, 1) 100%);
}

.item {
  display: flex;
  align-items: center;
  column-gap: 5px;
  margin-bottom: 15px;
}

.iconSuccess {
  font-size: 2rem;
  color: var(--checkbox-icon-color);
}

.iconError {
  font-size: 2rem;
  color: var(--divider-color);
}

.listBody {
  margin-bottom: 25px;
}

.button {
  padding: 15px;
  font-size: 1.7rem;
  color: #fff;
  width: 100%;
  border-radius: 15px;
}

.disabled {
  padding: 15px;
  font-size: 1.7rem;
  color: #fff;
  width: 100%;
  border-radius: 15px;
  filter: opacity(0.5);
}

.buttonBgBaseTariff {
  background: #469996;
  background: radial-gradient(circle, rgba(70, 153, 150, 1) 0%, rgba(82, 186, 155, 1) 100%, rgba(86, 197, 156, 1) 92%, rgba(87, 199, 156, 1) 74%);
}

.buttonBgProTariff {
  background: #ba13ac;
  background: radial-gradient(circle, rgba(186, 19, 172, 1) 0%, rgba(204, 128, 102, 1) 100%);
}