.iconBtnWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -47%);
}

.iconBtnBorder {
  position: relative;
  width: 22px;
  height: 22px;
  border: 2px solid;
  border-color: transparent;
  background-color: var(--icon-btn-bg);
  border-radius: 50%;
}